{% extends 'base.html.twig' %}

{% block title %}Hello RegistryController!{% endblock %}

{% block body %}
<div class="cont">
    <h2>Registration</h2>
    <br>
    {{form(regform)}}
</div>
{% endblock %}
